.header {
    background: white;
    padding: 15px;
    margin-bottom: 15px;

    .levels {
        font-size: 24px;
        font-weight: 700;
        color: blue;
        text-transform: uppercase;
    }
}