<div class="container">
  <h3>SkiCams</h3>
  <div class="row">
    <div class="col-sm-6">
      <app-workers-form [worker]="worker"></app-workers-form>
    </div>
    <div class="col-sm-6">
      <app-workers-list (workerEvent)="receiveWorker($event)"></app-workers-list>
    </div>
  </div>
</div>