<!--<app-workers></app-workers>-->
<!--<div class="container">
    <h3>SkiCams</h3>
    <div class="row">
      <div class="col-sm-6">
        <app-workers-form></app-workers-form>-->
<!--<app-workers-form [worker]="worker"></app-workers-form>-->
<!--</div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>-->
<!--<app-workers-list (workerEvent)="receiveWorker($event)"></app-workers-list>-->
<!--</div>
    </div>-->
<!--div class="row">
      <div class="col-sm-6">
          <app-workers-details></app-workers-details>
      </div>
    </div>-->
<!--</div>-->
<app-sidebar></app-sidebar>
<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>