<form [formGroup]="workersForm">
  <div class="row form-group">
    <input formControlName="name" type="text" class="form-control" placeholder="name">
    <p *ngIf="!workersForm.get('name').valid && workersForm.get('name').dirty" class="error">This field is required and the length must be min 3!</p>
  </div>
  <div class="row form-group">
    <input formControlName="position" type="text" class="form-control" placeholder="position">
    <p *ngIf="!workersForm.get('position').valid && workersForm.get('position').dirty" class="error">This field is required and the length must be min 3!</p>
  </div>
  <div class="row form-group">
    <input formControlName="office" type="text" class="form-control" placeholder="office">
    <p *ngIf="!workersForm.get('office').valid && workersForm.get('office').dirty" class="error">This field is required and the length must be min 3!</p>
  </div>
  <div class="row form-group">
    <input formControlName="ext" type="text" class="form-control" placeholder="ext">
    <p *ngIf="!workersForm.get('ext').valid && workersForm.get('ext').dirty" class="error">This field is required and the length must be 4!</p>
  </div>
  <div class="row form-group">
    <input formControlName="startDate" type="date" data-date-format="DD/MMMM/YYYY" class="form-control" placeholder="startDate">
    <p *ngIf="!workersForm.get('startDate').valid && workersForm.get('startDate').dirty" class="error">This field is required and the date format must be a "YYY/MM/DD"!</p>
  </div>
  <div class="row form-group">
    <input formControlName="salary" type="text" class="form-control" placeholder="salary">
    <p *ngIf="!workersForm.get('salary').valid && workersForm.get('salary').dirty" class="error">This field is required!</p>
  </div>
  <div class="row">
    <button [disabled]="workersForm.invalid" (click)="addWorker()" type="submit" class="btn btn-primary">Add Ski Cams</button>
  </div>
</form>