.sidebar {
    width: 180px;
    background: gray;
    position: fixed;
    top: 0;
    bottom: 0;

    .logo {
        margin: 30px auto;
        width: 120px;
        display: block;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            text-transform: uppercase; 
            font-weight: 700;
            cursor: pointer;
            color: white;
            padding: 10px;
            border-bottom: 1px solid white;
        }
        li:hover {
            background: #10447d;
            transition: linear 300ms;
        }
        li:active {
            background-color: cyan;
        }
    }
}