<app-header>
  <p levels>workers</p>

  <div content>
    <p>List of workers in service</p>
  </div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!--<h4>Add a new worker</h4>-->

      <div class="data-container" style='margin:15px auto;'>
        <form [formGroup]="workersForm">
          <div class="row form-group">
            <input formControlName="name" type="text" class="form-control" placeholder="name">
            <p *ngIf="!workersForm.get('name').valid && workersForm.get('name').dirty" class="error">This field is required and the length must be min 3!</p>
          </div>
          <div class="row form-group">
            <input formControlName="position" type="text" class="form-control" placeholder="position">
            <p *ngIf="!workersForm.get('position').valid && workersForm.get('position').dirty" class="error">This field is required and the length must be min 3!</p>
          </div>
          <div class="row form-group">
            <input formControlName="office" type="text" class="form-control" placeholder="office">
            <p *ngIf="!workersForm.get('office').valid && workersForm.get('office').dirty" class="error">This field is required and the length must be min 3!</p>
          </div>
          <div class="row form-group">
            <input formControlName="ext" type="text" class="form-control" placeholder="ext">
            <p *ngIf="!workersForm.get('ext').valid && workersForm.get('ext').dirty" class="error">This field is required and the length must be 4!</p>
          </div>
          <div class="row form-group">
            <input formControlName="startDate" type="date" data-date-format="DD/MMMM/YYYY" class="form-control" placeholder="startDate">
            <p *ngIf="!workersForm.get('startDate').valid && workersForm.get('startDate').dirty" class="error">This field is required and the date format must be a "YYY/MM/DD"!</p>
          </div>
          <div class="row form-group">
            <input formControlName="salary" type="text" class="form-control" placeholder="salary">
            <p *ngIf="!workersForm.get('salary').valid && workersForm.get('salary').dirty" class="error">This field is required!</p>
          </div>
          <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button [disabled]="workersForm.invalid" (click)="addWorker()" type="submit" class="btn btn-primary">Add a new Worker</button>
              <button (click)="workersForm.reset()" type="submit" class="btn btn-default">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-8">
      <input type='text' style='padding:8px;margin:15px auto;width:50%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
      />
      <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]='workers' [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
        <ngx-datatable-column name="name"></ngx-datatable-column>
        <ngx-datatable-column name="position"></ngx-datatable-column>
        <ngx-datatable-column name="office"></ngx-datatable-column>
        <ngx-datatable-column name="ext"></ngx-datatable-column>
        <ngx-datatable-column name="startDate"></ngx-datatable-column>
        <ngx-datatable-column name="salary"></ngx-datatable-column>
        <ngx-datatable-column name="Actions" sortable="false" prop="_id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="removeWorker(value)" class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
            </button>
            <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>